.user-group-where-clause-content {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 26px;
  display: flex;
  padding-left: 18px;
  padding-top: 14px;
}
